@use '../base/variables' as v;
@use '../base/image-paths' as p;

.main{
    padding-block: 9rem;
}

.about-content{
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    // &__figure{
    //     background-image: url(p.$mobile-interactive-image);
    //     background-repeat: no-repeat;
    //     background-size: cover;
    //     height: 25rem;
    //     @media (min-width: 1440px){
    //         background-image: url(p.$desktop-interactive-image);
    //     }
    // }
}

.abstract{
    padding-inline: 2.2rem;
    &__title{
        text-transform: uppercase;
        font-size: 3.3rem;
        text-align: center;
        font-weight: 300;
        line-height: 1;
    }
    &__paragraph{
        color: v.$color-dark-gray;
        line-height: 1.5;
        word-spacing: .1rem;
        margin-top: 1.5rem;
        font-size: 1.5rem;
        text-align: center;
        font-family: v.$font-family-alata;
        font-weight: 300;
    }
}

.creations{
    margin-top: 8rem;
    display: grid;
    &__title{
        text-transform: uppercase;
        text-align: center;
        font-size: 3.3rem;
        font-weight: 300;
    }
    .cards{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 12rem);
        row-gap: 2rem;
        margin-top: 3rem;
    }
}

.card{
    background-repeat: no-repeat;
    position: relative; 
}

.card:nth-child(1)::before,
.card:nth-child(2)::before,
.card:nth-child(3)::before,
.card:nth-child(4)::before,
.card:nth-child(5)::before,
.card:nth-child(6)::before,
.card:nth-child(7)::before,
.card:nth-child(8)::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-size: contain;
}

.card:nth-child(1)::before{
    background-image: linear-gradient(180deg,rgba(0,0,0,.0001),rgba(0,0,0,.601863)), url(p.$mobile-deep-earth-image);
    @media (min-width: 1440px){
        background-image: url(p.$desktop-deep-earth-image);
    }
}

.card:nth-child(2)::before{
    background-image: url(p.$mobile-night-arcade-image);
}

.card:nth-child(3)::before{
    background-image: url(p.$mobile-soccer-team-image);
}

.card:nth-child(4)::before{
    background-image: url(p.$mobile-grid-image);
}

.card:nth-child(5)::before{
    background-image: url(p.$mobile-from-above-image);
}

.card:nth-child(6)::before{
    background-image: url(p.$mobile-pocket-borealis-image);
}

.card:nth-child(7)::before{
    background-image: url(p.$mobile-curiosity-image);
}

.card:nth-child(8)::before{
    background-image: url(p.$mobile-fisheye-image);
}