@use '../base/image-paths' as p;
@use '../base/mixins' as m;
@use '../base/variables' as v;

.main{
    padding-block: 9rem;
    @include m.desktop{
        padding-block: 11rem;
    }
}

.about-content{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 52rem;
    row-gap: 4rem;
    @include m.tablet{
        flex-direction: row;
        max-width: none;
        position: relative;
    }
    &__figure{
        @include m.tablet{
            flex-basis: 65%;
        }
        &-img{
            height: 100%;
            @include m.desktop{
                width: 100%;
            }
        }
    }
}

.abstract{
    padding-inline: 2.2rem;
    @include m.tablet{
        background-color: v.$color-white;
        bottom: 0;
        height: 65%;
        padding: 3.8rem 1rem 0 3rem;
        position: absolute;
        right: 0;
        width: 49%;
    }
    @include m.laptop{
        padding: 8rem 0 0 9rem;
        width: 60%;
    }
    @include m.desktop{
        padding: 10.5rem 0 0 10.9rem;
        width: 50%;
    }
    &__title{
        font-family: v.$font-family-josefin-sans;
        font-size: 3.3rem;
        font-weight: 300;
        line-height: 1;
        text-align: center;
        text-transform: uppercase;
        @include m.tablet{
            font-size: 2.7rem;
            max-width: 36rem;
            text-align: left;
        }
        @include m.laptop{
            font-size: 3.5rem;
        }
        @include m.desktop{
            font-size: 4.4rem;
            letter-spacing: .01rem;
        }
    }
    &__paragraph{
        color: v.$color-dark-gray;
        font-family: v.$font-family-alata;
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1.5;
        margin-top: 1.5rem;
        text-align: center;
        word-spacing: .1rem;
        @include m.tablet{
            font-size: 1rem;
            text-align: left;
            word-spacing: initial; 
        }
        @media screen and (min-width: 900px){
            font-size: 1.4rem;
        }
        @include m.laptop{  
            font-size: 1.5rem;
        }
        @include m.desktop{
            margin-top: 4rem;
        }
    }
}

.creations{
    display: grid;
    margin-top: 10rem;
    row-gap: 4rem;
    @include m.desktop{
        margin-top: 16rem;
        row-gap: 5rem;
    }
    &__title{
        font-family: v.$font-family-josefin-sans;
        font-size: 3.3rem;
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
        @include m.tablet{
            text-align: left;
        }
        @include m.laptop{
            font-size: 3.5rem;
        }
        @include m.desktop{
            font-size: 4.7rem;
        }
    }
    .cards{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 12rem);
        row-gap: 2rem;
        @include m.tablet{
            column-gap: 2rem;
            grid-column: 1/3;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 15rem);
        }
        @include m.desktop{
            gap: 2.7rem;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 45rem);
        }
    }
}

.cards .card-link:nth-of-type(5) .card__name{
    width: 13rem;
}

.card-link:hover .card::before{
    opacity: 0.25;
}

.card-link:hover .card__name{
    color: v.$color-black;
}

.card{
    background-repeat: no-repeat; 
    height: 100%;
    position: relative;
    &__name{
        bottom: 2rem;
        color: v.$color-white;
        font-family: v.$font-family-josefin-sans;
        font-size: 2.4rem;
        left: 2rem;
        line-height: 1;
        position: absolute;
        text-transform: uppercase;
        width: 11rem;
        z-index: 10;
        @include m.desktop{
            bottom: 3rem;
            font-weight: bold;
            left: 4rem;
            letter-spacing: .043rem;
        }
    }
}

.card::before{
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
}

.card-link:nth-child(1) .card::before{
    background-image: linear-gradient(180deg,rgba(0,0,0,.0001),rgba(0,0,0,.601863)), url(p.$mobile-deep-earth-image);
    @include m.desktop{
        background-image: url(p.$desktop-deep-earth-image);
    }
}

.card-link:nth-child(2) .card::before{
    background-image: linear-gradient(180deg,rgba(0,0,0,.0001),rgba(0,0,0,.601863)), url(p.$mobile-night-arcade-image);
    @include m.desktop{
        background-image: url(p.$desktop-night-arcade-image);
    }
}

.card-link:nth-child(3) .card::before{
    background-image: linear-gradient(180deg,rgba(0,0,0,.0001),rgba(0,0,0,.601863)), url(p.$mobile-soccer-team-image);
    @include m.desktop{
        background-image: url(p.$desktop-soccer-team-image);
    }
}

.card-link:nth-child(4) .card::before{
    background-image: linear-gradient(180deg,rgba(0,0,0,.0001),rgba(0,0,0,.601863)), url(p.$mobile-grid-image);
    @include m.desktop{
        background-image: url(p.$desktop-grid-image);
    }
}

.card-link:nth-child(5) .card::before{
    background-image: linear-gradient(180deg,rgba(0,0,0,.0001),rgba(0,0,0,.601863)), url(p.$mobile-from-above-image);
    @include m.desktop{
        background-image: url(p.$desktop-from-above-image);
    }
}

.card-link:nth-child(6) .card::before{
    background-image: linear-gradient(180deg,rgba(0,0,0,.0001),rgba(0,0,0,.601863)), url(p.$mobile-pocket-borealis-image);
    @include m.desktop{
        background-image: url(p.$desktop-pocket-borealis-image);
    }
}

.card-link:nth-child(7) .card::before{
    background-image: linear-gradient(180deg,rgba(0,0,0,.0001),rgba(0,0,0,.601863)), url(p.$mobile-curiosity-image);
    @include m.desktop{
        background-image: url(p.$desktop-curiosity-image);
    }
}

.card-link:nth-child(8) .card::before{
    background-image: linear-gradient(180deg,rgba(0,0,0,.0001),rgba(0,0,0,.601863)), url(p.$mobile-fisheye-image);
    @include m.desktop{
        background-image: url(p.$desktop-fisheye-image);
    }
}

.creations__submit{
    background-color: v.$color-white;
    border: 0.1rem solid v.$color-very-dark-gray;
    color: v.$color-black;
    font-family: v.$font-family-alata;
    font-size: 1.3rem;
    font-weight: bolder;
    height: 4rem;
    letter-spacing: 0.3rem;
    margin: 0 auto;
    margin-top: -1rem;
    padding: 1.2rem 3rem;
    text-align: center;
    text-transform: uppercase;
    width: 16rem;
    word-spacing: 0.1rem;
    &:hover{
        background-color: v.$color-black;
        color: v.$color-white;
    }
    @include m.tablet{
        grid-column: 2/3;
        grid-row: 1/2;
        margin-right: 0;
        margin-top: 0;
    }
    @include m.desktop{
        font-size: 1.8rem;
        padding-block: 1rem;
        padding-inline: 1.5rem;
        width: 15.5rem;
        word-spacing: .2rem;
    }
}