@use 'variables' as v;

@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');


html{
    box-sizing: border-box;
    font-size: 62.5%;
    width: 100vw;
}

*,*:before,*:after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}   

body{
    background-color: v.$color-white;
    font-family: v.$font-family-alata;
    height: 100vh;
    width: 100vw;
}

.container{
    margin: 0 auto;
    max-width: 150rem;
    width: 88%;
}

a{
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
}

ul{
    list-style: none;
}

h1{
    margin: 0;
}