@use 'variables' as v;

@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');


html{
    box-sizing: border-box;
    font-size: 62.5%;
    width: 100vw;
}

*,*:before,*:after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}   

body{
    background-color: v.$color-white;
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 10;
    // filter: brightness(30%);
}

body::before{
    // display: none;
    content: "";
    display: block;
    height: 100vh;
    background-color: v.$color-black;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.container{
    margin: 0 auto;
    max-width: 150rem;
    width: 88%;
}

a{
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
}

ul{
    list-style: none;
}

h1{
    margin: 0;
}