$mobile-curiosity-image: '/assets/img/mobile/image-curiosity.jpg';
$mobile-deep-earth-image: '/assets/img/mobile/image-deep-earth.jpg';
$mobile-fisheye-image: '/assets/img/mobile/image-fisheye.jpg';
$mobile-from-above-image: '/assets/img/mobile/image-from-above.jpg';
$mobile-grid-image: '/assets/img/mobile/image-grid.jpg';
$mobile-header-image: '/assets/img/mobile/image-hero.jpg';
$mobile-interactive-image: '/assets/img/mobile/image-interactive.jpg';
$mobile-night-arcade-image: '/assets/img/mobile/image-night-arcade.jpg';
$mobile-pocket-borealis-image: '/assets/img/mobile/image-pocket-borealis.jpg';
$mobile-soccer-team-image: '/assets/img/mobile/image-soccer-team.jpg';

$desktop-curiosity-image: '/assets/img/desktop/image-curiosity.jpg'; 
$desktop-deep-earth-image: '/assets/img/desktop/image-deep-earth.jpg';
$desktop-fisheye-image: '/assets/img/desktop/image-fisheye.jpg'; 
$desktop-from-above-image: '/assets/img/desktop/image-from-above.jpg';    
$desktop-grid-image: '/assets/img/desktop/image-grid.jpg';
$desktop-header-image: '/assets/img/desktop/image-hero.jpg';
$desktop-interactive-image: '/assets/img/desktop/image-interactive.jpg';
$desktop-night-arcade-image: '/assets/img/desktop/image-night-arcade.jpg';
$desktop-pocket-borealis-image: '/assets/img/desktop/image-pocket-borealis.jpg'; 
$desktop-soccer-team-image: '/assets/img/desktop/image-soccer-team.jpg'; 