@use 'variables' as v;
@use 'image-paths' as p;
// .active{
//     display: none;
// }

.low-brightness{
    filter: brightness(30%);
}

.black-background{
    background-color: v.$color-black;
    // z-index: 50;
    // background-image: ;
}

.background-image{
    background-image: url(p.$mobile-header-image);
}