$font-family-alata: 'Alata', sans-serif;
$font-family-josefin-sans: 'Josefin Sans', sans-serif;

$mq-mobile: 375px;
$mq-desktop: 1440px;

$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);
$color-dark-gray: hsl(0, 0%, 55%);
$color-very-dark-gray: hsl(0, 0%, 41%);