$font-family-alata: 'Alata', sans-serif;
$font-family-josefin-sans: 'Josefin Sans', sans-serif;

$media-queries-mobile-small: 350px;
$media-queries-tablet: 700px;
$media-queries-laptop: 1024px;
$media-queries-desktop: 1440px;

$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);
$color-dark-gray: hsl(0, 0%, 55%);
$color-very-dark-gray: hsl(0, 0%, 41%);