@use '../base/image-paths' as p;
@use '../base/variables' as v;
@use '../base/mixins' as m;

.header{
    background-image: url(p.$mobile-header-image);
    background-repeat: no-repeat;
    background-size: cover;
    height: 65rem;
    padding-top: 4rem;
    width: 100vw;
    @include m.laptop{
        background-image: url(p.$desktop-header-image);
    }   
    @include m.desktop{
        padding-top: 6.2rem;
    }
}

.navbar{
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    &__logo{
        flex-basis: 14.5rem;
        position: relative;
        // position: fixed;
        z-index: 30;
        @include m.desktop{
            flex-basis: 20rem;
        }
        &--fixed{
            position: fixed;
        }
    }
}

.hamburguer-menu{
    flex-basis: 3rem;
    height: 2.416rem;
    position: relative;
    right: 0;
    z-index: 30;
    @include m.tablet{
        display: none;
    }
    &--fixed{
        position: fixed;
    }
    &__span{
        background-color: v.$color-white;
        border-radius: 3rem;
        display: block;
        height: 0.3rem;
        margin: 0.4rem auto;
        transition: all 0.3s ease-in-out;
        width: 2.3rem;
    }
}

.hamburguer-menu.active span:nth-child(1){
    transform: translateY(0.6rem) rotate(45deg);
}
.hamburguer-menu.active span:nth-child(2){
    opacity: 0;
}
.hamburguer-menu.active span:nth-child(3){
    transform: translateY(-0.8rem) rotate(-45deg);
}

.header-nav{
    background-color: v.$color-black;
    bottom: 0;
    left: 0;
    opacity: 0;
    padding-bottom: 10rem;
    padding-top: 20rem;
    position: fixed;
    right: 0;
    top: 0;
    transition: .3s ease;
    width: 100%;
    z-index: -10;
    @include m.tablet{
        background-color: initial;
        opacity: 1;
        padding: unset;
        position: initial;
    }
    &--active{
        opacity: 1;
        z-index: 20;
    }
}

.header-nav__links{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    @include m.tablet{
        column-gap: 3rem;
        flex-direction: row;
        margin: 0;
    }
    @include m.desktop{
        column-gap: 3.3rem;
    }
}

.header-nav__link{
    position: relative;
    @include m.tablet{
        &::after{
            background-color: v.$color-white;
            bottom: -0.5rem;
            content: '';
            height: 0.2rem;
            left: 0;
            position: absolute;
            transform: scale(0);
            transition: 0.3s ease;
            width: 100%;
        }
    }
    &:hover::after{
        transform: scale(1);
    }
    a{
        color: v.$color-white;
        font-family: v.$font-family-josefin-sans;
        font-size: 2rem;
        text-decoration: none;
        text-transform: uppercase;
        @include m.tablet{
            font-family: v.$font-family-alata;
            font-size: 1.5rem;
            text-transform: capitalize;
        }
    }
}

.header-content{
    border: 0.2rem solid v.$color-white;
    margin-top: 16.3rem;
    max-width: 35rem;
    padding: 2.1rem 3.3rem 1.1rem 2.4rem;
    @include m.tablet{
        max-width: 50rem;
        padding: 3rem;
    }
    @include m.desktop{
        margin-top: 13.1rem;
        max-width: 65rem;
        padding: 4.1rem 3.3rem 2.4rem 4.1rem;
    }
    &__title{
        color: v.$color-white;
        font-family: v.$font-family-josefin-sans;
        font-size: 4rem;
        font-weight: 300;
        line-height: 1;
        text-transform: uppercase;
        // @media screen and (max-width: 350px){
        //     font-size: 3rem;
        // }
        @include m.mobile-small{
            font-size: 3rem;
        }
        @include m.tablet{
            font-size: 5rem;
        }
        @include m.desktop{
            font-size: 7.1rem;
            letter-spacing: .06rem;
        }
    }
}