@use '../base/image-paths' as p;

.header{
    background-image: url(p.$mobile-header-image);
    background-size: cover;
    background-repeat: no-repeat;
    height: 65rem;
    width: 100vw;
    padding-top: 4rem;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}