@use '../base/image-paths' as p;
@use '../base/variables' as v;

.header{
    // background-image: url(p.$mobile-header-image);
    background-size: cover;
    background-repeat: no-repeat;
    height: 65rem;
    width: 100vw;
    padding-top: 4rem;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo{
        flex-basis: 14.5rem;
    }
}

.menu-button{
    flex-basis: 3rem;
    height: 2.416rem;
    &__span{
        background-color: v.$color-white;
        border-radius: 3rem;
        display: block;
        height: 0.3rem;
        margin: 0.4rem auto;
        transition: all 0.3s ease-in-out;
        width: 2.3rem;
    }
}

.menu-button:hover.active span:nth-child(1){
    transform: translateY(0.6rem) rotate(45deg);
}
.menu-button:hover.active span:nth-child(2){
    opacity: 0;
}
.menu-button:hover.active span:nth-child(3){
    transform: translateY(-0.8rem) rotate(-45deg);
}

.header-content{
    border: 0.2rem solid v.$color-white;
    padding: 2.1rem 3.3rem 1.1rem 2.4rem;
    margin-top: 16.3rem;
    &__title{
        text-transform: uppercase;
        color: v.$color-white;
        font-weight: 300;
        font-family: v.$font-family-josefin-sans;
        font-size: 4rem;
        line-height: 1;
    }
}