@use '../base/variables' as v;
@use '../base/mixins' as m;

.footer{
    background-color: v.$color-black;
    padding: 5rem;
    @include m.laptop{
        // padding: 1rem 4rem;
        // padding: 2rem 0;
        padding: 2rem 0 2rem 0;
    }
    .footer-wrapper{
        display: flex;
        flex-direction: column;
        row-gap: 5rem;
        @include m.laptop{
            flex-direction: row;
            justify-content: space-between;
            margin: 0 auto;
            max-width: 150rem;
            width: 88%;
        }
    }
}

.brand{
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    @include m.laptop{
        justify-content: space-between;
        row-gap: 0;
    }
    &__figure{
        margin: 0 auto;
        width: 14.5rem;
        @include m.laptop{
            margin: 0;
        }
    }
}

.footer-nav{
    .list{
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        text-align: center;
        @include m.laptop{
            column-gap: 2rem;
            flex-direction: row;
        }
        .link{
            color: v.$color-white;
            font-family: v.$font-family-alata;
            font-size: 1.3rem;
            @include m.laptop{
                font-size: 1.5rem;
            }
        }
    }
}

.socials-copyright{
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    @include m.laptop{
        align-items: flex-end;
        justify-content: space-around;
        row-gap: 1rem;
    }
    .social-networks{
        align-items: center;
        column-gap: 1.5rem;
        display: flex;
        @include m.laptop{
            height: 2.416rem;
        }
    }
    .copyright{
        color: v.$color-very-dark-gray;
        font-family: v.$font-family-alata;
        font-size: 1.44rem;
        text-align: center;
        @include m.laptop{
            font-size: 1.5rem;
        }
    }
}